@model IEnumerable<Library_Management_System_C_.Media>

@{
    ViewData["Title"] = "Index";
}

<h2>Media</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrginDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrginDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="CheckOut" asp-route-id="@item.ID">Checkout</a>
            </td>
        </tr>
}
    </tbody>
</table>
